/* importing the fonts */
/* first font is for we vote */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
/* second font about arabic font */
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/* third font arabic font */
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
/* Setting up general settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1D1C1D;
  text-decoration: none;
}

/* setting up the variables most used elements */
:root {
  --bg: transparent;
  --clr: #ffffff;
}

.section1{
  width: auto;
  height: 100vh;
}
/* setting up the header */
.header-top-element{
  width: 100%;
  height: 370px;
}

.logo-img{
  height: 140px;
  align-items: flex-end;
  margin: -22px -20px -7px 1747px;
}

.ul-navigation-element {
  display: inline;
  visibility: visible;
  float: left;
  margin: -81px 0px 0px -18px ;
}


.li-header-element{
  color: var(--clr);
  display: inline;
  font-size: 21px;
  font-family: 'Tajawal', sans-serif;
  margin: 0px 20px 0px 20px !important;
  padding: 0px 0px 8px 0px !important;
  position: relative;
}

.li-header-element a:before{
  content: '';
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 50px;
  width: 0%;
  background: #FF6600;
  transition: all 0.4s ease;
  position: absolute;
}

.li-header-element a:hover:before{
  width: 100%;
}

.li-header-element a:before{
  left:50%;
  transform: translateX(-50%);
}

.li-header-element a:link {
  color: var(--clr);
}

.li-header-element a:visited {
  color: #f5ece3;
}

.li-header-element a:hover {
  color: #f5ede3b6;
}

.li-header-element a:active {
  color: var(--clr);
}

/* everything after the nav */

.the-box{
  width:350px;
  height:600px;
  background-color: #ff414e;
  margin-top: -373px;
  margin-left: 1200px;
  position: absolute;
  z-index: 2;
}

/* glitchy effect */

.content .text{
  color: var(--clr);
  font-weight: 700;
  font-size: 65px;
  padding: 30px;
  background: var(--bg);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin: -134px -18px -19px 1051px;
  position: absolute;
  z-index: 2;
}

.content .text:before,
.content .text:after {
  padding: 30px;
  color: var(--clr);
  content: attr(data-text);
  position: absolute;
  top: 0;
}



.content .text:before{
  left: 3px;
  text-shadow: -2px 0 #ff008b;
  animation: glitch-1 2s linear infinite reverse;
}

.content .text:after{
  left: -3px;
  text-shadow: -2px 0 #00efe4;
  animation: glitch-2 2s linear infinite reverse;
}

/* the actual animation  */

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

/* for viewwers who don't like animation  */

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.arabic-first-text-animated{
  background: var(--bg);
  color: var(--clr);
  font-weight: 600;
  font-family: 'Tajawal', sans-serif;
  font-size: 80px;
  justify-content: center;
  margin: 202px 0px 350px 292px;
}

/* second section about different hobbies */

.section-2{
  background-color: var(--clr);
  height: 50vh;
}

.my-1-h1{
  padding-top: 45px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  font-family: 'Almarai', sans-serif;
  color: #ab7030 ;
  background: var(--bg);
  z-index: 2;
}

/* arrow shape */

.arrow{
  font-size: 35px;
  background: var(--bg);
}

.arrow-change{
  color: #2250a1;
  background: var(--bg);
}

.arrow-2{
  padding: 15px 0px 0px 0px;
  z-index: 2;
  vertical-align: bottom;
}

.ul-el{
  background: var(--bg);
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  padding-top: 15px;
}

.span-1{
  background: var(--bg);
}

.header-element-2{
  display: grid;
  grid-template-columns: repeat(6,auto);
}

.el-li{
  background: var(--bg);
  color:#2250a1;
  list-style: none;  
  font-family: 'Tajawal', sans-serif;
  font-size: 27px;
}

.all-el{
  background: var(--bg);
  color:black;
  display: grid;
  grid-template-columns: repeat(6, 315px);
  grid-auto-rows: 3em;
}


.ul-content{
  background: var(--bg);
  color:black;
  list-style: none;  
  font-family: 'Tajawal', sans-serif;
  display: grid;
  font-size: 18px;
  line-height: 0.6;
  padding-top: 20px;
  justify-items: end;
  grid-row-gap: 20px;

}

.li-2-content{
  background: var(--bg);
  color:black;
  grid-column-start: -7;
  grid-column-end: 7;
  text-align: center;
  justify-items: end;
}


/* styling ul */

.ul-1{
  margin-right: 46px;
}
.ul-2{
  width: 200px;
   margin-left: 101px;
}

.ul-3{
  width: 200px;
  margin-left: 135px;
}

.ul-4{
  width: 200px;
  margin-left: 163px; 
}

.ul-5{
  width: 100px;
   margin-left: 199px;
}

.ul-6{
  width: 200px;
  margin-left: 128px; 
}
/* the third section */

.third-el{
  background-color: #1D1C1D ;
  height: 50vh;
}
/* the text itself */

.first-item{
  color: var(--clr);
  background: transparent;
  font-family: 'Tajawal', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 79px 0px 0px  0px;
  margin: 0px 71px 0px  0px;
}

/* second text */

.second-item{
  color: #2250a1;
  background: transparent;
  font-family: 'Tajawal', sans-serif;
  font-size: 35px;
  animation: animate 3s linear infinite;
  display: flex;
  margin: 23px 0px 0px 226px;
  padding: 126px 0px 0px 226px;
}

/* footer */

.footer{
  display: block;
  overflow: hidden;
  padding: 80px 0;
  background-color: white;
}

.inner-footer{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
  background: var(--bg);
}

.inner-footer .logo_container{
  width: 38%;
  float: left;
  height: 100%;
  display: block;
  background: var(--bg);
}
.inner-footer .logo_container img{
  width: 85px;
  height: auto;
  background: var(--bg);
  
}
.inner-footer .footer_third{
  background: var(--bg);
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer_third:last-child{
  background: var(--bg);
  margin-right: 0;
}


.inner-footer .footer_third h1{
  background: var(--bg);
  font-family: 'Tajawal', sans-serif;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.inner-footer .footer_third a{
  background: var(--bg);
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #2250a1;
  display: block;
  width: 100%;
  padding-bottom: 8px;
}

/* footer responso */

@media (max-width: 600px) {
  .footer .inner-footer{
    width: 90%;
  }
  .inner-footer .logo_container,
  .inner-footer .footer_third{
    width: 100%;
    margin-bottom: 30px;
  }
}


/* footer edit third section */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1D1C1D;
  text-decoration: none;
}

label{margin-top:20px;
  color: #bcd0f7;
      background: #1A233A;
  }
  .account-settings .user-profile {
      margin: 0 0 1rem 0;
      padding-bottom: 1rem;
      text-align: center;
  }
  .account-settings .user-profile .user-avatar {
      margin: 0 0 1rem 0;
  }
  .account-settings .user-profile .user-avatar img {
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
  }
  .account-settings .user-profile h5.user-name {
      margin: 0 0 0.5rem 0;
  }
  .account-settings .user-profile h6.user-email {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
  }
  .account-settings .about {
      margin: 1rem 0 0 0;
      font-size: 0.8rem;
      text-align: center;
  }
  .card {
      background: #272E48;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 0;
      margin-bottom: 1rem;
  }
  .form-control {
      border: 1px solid #596280;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: .825rem;
      background: #1A233A;
      color: #bcd0f7;
  }

a:link{
  text-decoration: none;
}

